main {
    .banner-box {
        width: 100%;
        height: 789px;
        overflow: hidden;

        .swiper-container {
            position: relative;
            width: 1920px;
            left: 50%;
            margin-left: -960px;
        }
    }

    .four-series-dark {
        margin-bottom: 20px;
        .series {
            .series-item {
                display: block;
                float: left;
                width: 299px;
                height: 410px;
                margin-right: 1px;
                background-size: 299px 420px;
                background-position: center;
                background-repeat: no-repeat;

                &.series1 {
                    background-image: url("../img/series1.png");
                }
                &.series2 {
                    background-image: url("../img/series2.png");
                }
                &.series3 {
                    background-image: url("../img/series3.png");
                }
                &.series4 {
                    background-image: url("../img/series4.png");
                }

                &>div {
                    width: 100%;
                    height: 100%;
                    transition: all linear 0.25s;
                    position: relative;
                    &>p {
                        width: 299px;
                        position: absolute;
                        text-align: center;
                        color: rgba(255, 255, 255, 0.4);
                        transition: color linear 0.25s;
                        &.title {
                            width: 100%;
                            height: 40px;
                            line-height: 40px;
                            font-size: 24px;
                            bottom: 42px;
                        }
                        &.detail {
                            width: 100%;
                            height: 26px;
                            line-height: 26px;
                            font-size: 16px;
                            bottom: 16px;
                        }
                    }
                }

                &:hover>div {
                    background-color: rgba(0, 0, 0, 0.4);
                    &>p {
                        color: rgba(255, 255, 255, 0.9);
                    }
                }
            }
        }
    }

    .four-series-light {
        margin-bottom: 20px;
        .series {
            .series-item {
                display: block;
                float: left;
                width: 300px;

                &>.imgbox {
                    width: 300px;
                    height: 317px;
                    overflow: hidden;
                    &>img {
                        width: 300px;
                        height: 317px;
                        transition: transform 0.25s;
                    }
                }

                &>p {
                    text-align: center;
                    &.title{
                        height: 40px;
                        line-height: 40px;
                        font-size: 24px;
                        color: #333333;
                    }
                    &.detail {
                        height: 30px;
                        line-height: 30px;
                        font-size: 18px;
                        color: #888888;
                    }
                }

                &:hover {
                    &>.imgbox {
                        &>img {
                            transform: scale(1.1,1.1);
                        }
                    }
                }
            }
        }
    }

    .brand-news {
        margin-bottom: 80px;
        .content {
            .photo {
                float: left;
                width: 660px;
                text-align: center;
                height: 392px;
                line-height: 392px;
                position: relative;
                background-color: rgba(0,0,0,0.2);
                img {
                    max-width: 660px;
                    max-height: 392px;
                }
            }
            .title-list {
                float: left;
                width: 470px;
                margin-left: 70px;
                font-size: 16px;
                &>li {
                    margin-bottom: 16px;
                    height: 29px;
                    line-height: 29px;
                    position: relative;

                    a:hover {text-decoration: underline;}
                    &.active {
                        font-size: 22px;
                        a { color: #881d27;}
                        white-space:nowrap;

                        &::before {
                            display: inline-block;
                            content: '';
                            width: 0;
                            height: 0;
                            border: 10px solid transparent;
                            border-left: 10px solid #881d27;
                            position: absolute;
                            left: -16px;
                            top: 5px;
                        }
                    }
                    &.more {
                        margin-bottom: 0;
                        text-align: right;
                    }
                }
            }
        }
    }

    .vedio-about-jmx {
        margin-bottom: 108px;

        .main{
            .vedio-box {
                &::after{
                    width: 120px;
                    height: 120px;
                    margin-top: -60px;
                    margin-left: -60px;
                }
                width: 1200px;
                height: 614px;
                .vedio-pic {
                    width: 1200px;
                    height: 614px;
                }
            }
        }
        .sub{
            margin-top: 12px;
            .vedio-box {
                &::after{
                    width:60px;
                    height: 60px;
                    margin-top: -30px;
                    margin-left: -30px;
                }
                float: left;
                width: 392px;
                height: 210px;
                .vedio-pic {
                    width: 392px;
                    height: 210px;
                }
                &+.vedio-box{
                    margin-left: 12px;
                }
            }
        }
        .main,.sub{
            a.vedio-box{
                position: relative;
                &::after{
                    content: '';
                    display: none;
                    background-image: url("../img/play.png");
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    background-position: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
            }
            a.vedio-box:hover {
                &::after{
                    display: block;
                }
            }
        }

        .vedio-view {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3000;
            background-color: rgba(0,0,0,0.8);
            .vedio {
                position: absolute;
                width: 1200px;
                height: 614px;
                top: 50%;
                left: 50%;
                margin-top: -307px;
                margin-left: -600px;
                z-index: 3001;
            }
        }

        .more{
            margin-top: 16px;
            font-size: 16px;
            text-align: right;
            a:hover {text-decoration: underline;}
        }
    }
}
