main .product-detail {
  padding-top: 80px;
}
main .product-detail .main-detail {
  padding-bottom: 50px;
}
main .product-detail .main-detail .product-img {
  width: 470px;
  height: 470px;
  float: left;
}
main .product-detail .main-detail .product-img img {
  width: 470px;
  height: 470px;
}
main .product-detail .main-detail .detail-info {
  width: 700px;
  float: right;
}
main .product-detail .main-detail .detail-info .title {
  font-size: 34px;
  color: #000000;
  height: 80px;
  line-height: 80px;
}
main .product-detail .main-detail .detail-info .sub {
  display: flex;
  font-size: 16px;
  padding: 15px 0;
  border-top: 1px solid #881d27;
}
main .product-detail .main-detail .detail-info .sub .sub-title {
  display: inline-block;
  color: #222222;
}
main .product-detail .main-detail .detail-info .sub .sub-info {
  flex: 1;
  color: #555555;
  padding-left: 10px;
}
main .product-detail .sub-detail {
  margin-bottom: 130px;
}
main .product-detail .sub-detail .item {
  display: flex;
}
main .product-detail .sub-detail .item .left-side {
  width: 250px;
  height: 250px;
  padding: 0 10px;
}
main .product-detail .sub-detail .item .left-side img {
  width: 250px;
  height: 250px;
}
main .product-detail .sub-detail .item .right-side {
  color: #555555;
  padding-top: 70px;
  font-size: 16px;
  line-height: 30px;
}
main .product-detail .suggest-collocation > .title {
  font-size: 24px;
  color: #555555;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-bottom: 1px solid #881d27;
}
main .product-detail .suggest-collocation > .list {
  margin-bottom: 80px;
}
main .product-detail .suggest-collocation > .list > .item {
  width: 300px;
  float: left;
}
main .product-detail .suggest-collocation > .list > .item .item-img {
  width: 220px;
  height: 220px;
  padding: 40px;
}
main .product-detail .suggest-collocation > .list > .item .item-img > img {
  width: 240px;
  height: 240px;
}
main .product-detail .suggest-collocation > .list > .item > .title {
  display: block;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
  transition: color linear 0.25s;
}
main .product-detail .suggest-collocation > .list > .item > .title:hover {
  color: rgba(85, 85, 85, 0.5);
}
