main .the-brand-footprint > .item {
  display: block;
  width: 350px;
  height: 420px;
  float: left;
  margin-right: 75px;
}
main .the-brand-footprint > .item:nth-child(3n) {
  margin-right: 0;
}
main .the-brand-footprint > .item .item-img {
  width: 350px;
  height: 260px;
}
main .the-brand-footprint > .item .item-img img {
  width: 350px;
  height: 260px;
}
main .the-brand-footprint > .item .item-title {
  margin-top: 30px;
  font-size: 22px;
  color: #333333;
  text-align: center;
}
main .the-brand-footprint-detail .title {
  font-size: 30px;
  color: #666666;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
main .the-brand-footprint-detail .content .img-group {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
main .the-brand-footprint-detail .content .img-group img + img {
  margin-left: 18px;
}
main .the-brand-footprint-detail .content > p {
  color: #888888;
  font-size: 16px;
  text-align: justify;
  line-height: 30px;
  margin-top: 10px;
}
main .page-list {
  margin-top: 15px;
}
main .page-list > p {
  font-size: 16px;
  color: #666666;
  line-height: 44px;
}
main .page-list > p a {
  color: inherit;
}
main .page-list > p a:hover {
  text-decoration: underline;
}
