main {
  .the-brand-footprint{
    &>.item {
      display: block;
      width: 350px;
      height: 420px;
      float: left;
      margin-right: 75px;
      &:nth-child(3n){
        margin-right: 0;
      }

      .item-img{
        width: 350px;
        height: 260px;

        img{
          width: 350px;
          height: 260px;
        }
      }

      .item-title {
        margin-top: 30px;
        font-size: 22px;
        color: #333333;
        text-align: center;
      }
    }
  }

  .the-brand-footprint-detail {
    .title {
      font-size: 30px;
      color: #666666;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .content {
      .img-group {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        img + img {
          margin-left: 18px;
        }
      }

      &>p {
        color: #888888;
        font-size: 16px;
        text-align: justify;
        line-height: 30px;
        margin-top: 10px;
      }
    }
  }

  .page-list {
    margin-top: 15px;
    &>p {
      font-size: 16px;
      color: #666666;
      line-height: 44px;

      a {
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}