main .the-brand-footprint > .item {
  position: relative;
  display: block;
  width: 350px;
  height: 420px;
  float: left;
  margin-right: 75px;
}
main .the-brand-footprint > .item:nth-child(3n) {
  margin-right: 0;
}
main .the-brand-footprint > .item .item-img,
main .the-brand-footprint > .item .video-img {
  position: relative;
  width: 350px;
  height: 230px;
}
main .the-brand-footprint > .item .item-img img,
main .the-brand-footprint > .item .video-img img {
  width: 350px;
  height: 230px;
}
main .the-brand-footprint > .item a.video-img:hover::after {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("../img/play.png");
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
main .the-brand-footprint > .item .item-title {
  margin-top: 30px;
  font-size: 22px;
  color: #333333;
  text-align: center;
}
main .the-brand-footprint-detail .title {
  font-size: 30px;
  color: #666666;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
main .the-brand-footprint-detail .content .img-group {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
main .the-brand-footprint-detail .content .img-group img + img {
  margin-left: 18px;
}
main .the-brand-footprint-detail .content > p {
  color: #888888;
  font-size: 16px;
  text-align: justify;
  line-height: 30px;
  margin-top: 10px;
}
main .page-list {
  margin-top: 15px;
}
main .page-list > p {
  font-size: 16px;
  color: #666666;
  line-height: 44px;
}
main .page-list > p a {
  color: inherit;
}
main .page-list > p a:hover {
  text-decoration: underline;
}
main .vedio-view {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.8);
}
main .vedio-view .vedio {
  position: absolute;
  width: 1200px;
  height: 614px;
  top: 50%;
  left: 50%;
  margin-top: -307px;
  margin-left: -600px;
  z-index: 3001;
}
