<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>首页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>

<!-- Header -->
<header class="container-fluid">
    <nav class="clearfix">
        <div class="logo"><a href="#" class="logoImg"></a></div>
        <ul class="navbar">
            <li class="navitem noempty active">
                <a href="javascript:;">
                    <p class="cn">走进金美相</p>
                    <p class="en">ABOUT KIMISOI</p>
                </a>
            </li>
            <li class="navitem noempty">
                <a href="javascript:;">
                    <p class="cn">美相护肤</p>
                    <p class="en">SKIN CARE</p>
                </a>
            </li>
            <li class="navitem empty">
                <a href="javascript:;">
                    <p class="cn">畅销榜单</p>
                    <p class="en">SELL LIST</p>
                </a>
            </li>
            <li class="navitem empty">
                <a href="javascript:;">
                    <p class="cn">美相地图</p>
                    <p class="en">MAPS</p>
                </a>
            </li>
            <li class="navitem noempty">
                <a href="javascript:;">
                    <p class="cn">在线查询</p>
                    <p class="en">ONLINE</p>
                </a>
            </li>
            <li class="navitem empty">
                <a href="javascript:;">
                    <p class="cn">加入我们</p>
                    <p class="en">JOIN US</p>
                </a>
            </li>
        </ul>
        <form class="searchbox"method="post">
            <div class="search-content">
                <input type="text" name="keywords" placeholder="">
            </div>
            <button type="submit" class="search-btn">搜索</button>
        </form>
    </nav>
    <div id="sub-navbar" class="sub-navbar">
        <ul class="container">
            <li class="subitem i1">
                <a href="javascript:;">品牌故事</a>
                <a href="javascript:;">品牌印记</a>
            </li>
            <li class="subitem i2">
                <a href="javascript:;">雪颜系列</a>
                <a href="javascript:;">花仙系列</a>
                <a href="javascript:;">马卡龙系列</a>
                <a href="javascript:;">彩妆系列</a>
            </li>
            <li class="subitem i3"></li>
            <li class="subitem i4"></li>
            <li class="subitem i5">
                <a href="javascript:;">代理查询</a>
                <a href="javascript:;">正品查询</a>
            </li>
            <li class="subitem i6"></li>
        </ul>
    </div>
</header>

<main class="container-fluid">
    <!-- Banner -->
    <div class="banner-box">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/banner02.jpg"></div>
                <div class="swiper-slide"><img src="../img/banner03.jpg"></div>
                <div class="swiper-slide"><img src="../img/banner04.jpg"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- Four Series -->
    <!--<div class="four-series-dark container">-->
        <!--<div class="title-style1">-->
            <!--<div class="title">-->
                <!--<p class="title-cn">四大系列</p>-->
                <!--<p class="title-en">Four Series</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="series container">-->
            <!--<a href="javascript:;" class="series-item series1">-->
                <!--<div>-->
                    <!--<p class="title">马卡龙系列</p>-->
                    <!--<p class="detail">甜甜的味道，引人遐想</p>-->
                <!--</div>-->
            <!--</a>-->
            <!--<a href="javascript:;" class="series-item series2">-->
                <!--<div>-->
                    <!--<p class="title">花仙系列</p>-->
                    <!--<p class="detail">与花仙零距离接触</p>-->
                <!--</div>-->
            <!--</a>-->
            <!--<a href="javascript:;" class="series-item series3">-->
                <!--<div>-->
                    <!--<p class="title">雪颜系列</p>-->
                    <!--<p class="detail">深层补水，令肌肤洁白透洁</p>-->
                <!--</div>-->
            <!--</a>-->
            <!--<a href="javascript:;" class="series-item series4">-->
                <!--<div>-->
                    <!--<p class="title">花仙系列</p>-->
                    <!--<p class="detail">让你的美更加夺目</p>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

    <div class="four-series-light container">
        <div class="title-style1">
            <div class="title">
                <p class="title-cn">四大系列</p>
                <p class="title-en">Four Series</p>
            </div>
        </div>
        <div class="series container">
            <a href="javascript:;" class="series-item series1">
                <div class="imgbox"><img src="../img/series1.jpg"></div>
                <p class="title">马卡龙系列</p>
                <p class="detail">甜甜的味道，引人遐想</p>
            </a>
            <a href="javascript:;" class="series-item series2">
                <div class="imgbox"><img src="../img/series2.jpg"></div>
                <p class="title">花仙系列</p>
                <p class="detail">与花仙零距离接触</p>
            </a>
            <a href="javascript:;" class="series-item series3">
                <div class="imgbox"><img src="../img/series3.jpg"></div>
                <p class="title">雪颜系列</p>
                <p class="detail">深层补水，令肌肤洁白透洁</p>
            </a>
            <a href="javascript:;" class="series-item series4">
                <div class="imgbox"><img src="../img/series4.jpg"></div>
                <p class="title">花仙系列</p>
                <p class="detail">让你的美更加夺目</p>
            </a>
        </div>
    </div>
    
    <!-- Brand News -->
    <div class="brand-news container">
        <div class="title-style1">
            <div class="title">
                <p class="title-cn">品牌新闻</p>
                <p class="title-en">Brand News</p>
            </div>
        </div>
        <div class="news-box container">
            <div class="content">
                <div id="photoBox" class="photo">
                    <!--<img id="photoImg" src="../img/series1.jpg">-->
                </div>
                <ul class="title-list">
                    <li data-url="../img/series1.jpg">
                        <a href="javascript:;">KIMISOI金美相亚洲市场受捧亚太杰出品牌认证</a>
                    </li>
                    <li data-url="../img/img1.png" class="active">
                        <a href="javascript:;">金美相深圳颁奖优秀代理 密训福利享不停</a>
                    </li>
                    <li data-url="../img/star-product-makalong1.jpg">
                        <a href="javascript:;">金美相强势入驻实体店 品牌实力不容小觑</a>
                    </li>
                    <li data-url="../img/img3.png">
                        <a href="javascript:;">金美相牵手环球华夏小姐 掀起一场美与美的碰撞</a>
                    </li>
                    <li data-url="../img/series3.png">
                        <a href="javascript:;">明星产品在《美丽俏佳人》中曝光</a>
                    </li>
                    <li data-url="../img/index-img1.png">
                        <a href="javascript:;">独家特约安徽卫视《美丽救兵》</a>
                    </li>
                    <li data-url="../img/picture.png">
                        <a href="javascript:;">深圳卫视《时尚美妆》栏目明星御用造型师李春楠老师推荐</a>
                    </li>
                    <li data-url="../img/video1.png">
                        <a href="javascript:;">四川卫视《心动女人帮》强烈推荐</a>
                    </li>
                    <li class="more">
                        <a href="javascript:;">更多新闻>>></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- Vedio About JMX -->
    <div class="vedio-about-jmx container">
        <!--<img src="../img/video1.png" class="vedio-box">-->
        <!--<iframe height=614 width=1200 src='http://player.youku.com/embed/XMTI2MDkzNDEwOA==' frameborder=0 allowfullscreen></iframe>-->
        <div class="main clearfix">
            <a href="javascript:;" class="vedio-box" data-url="http://player.youku.com/embed/XMTI2MDkzNDEwOA==">
                <img src="../img/video1.png" class="vedio-pic">
            </a>
        </div>
        <div class="sub clearfix">
            <a href="javascript:;" class="vedio-box" data-url="https://v.qq.com/iframe/player.html?vid=o0174vy7uk6&tiny=0">
                <img src="../img/video1.png" class="vedio-pic">
            </a>
            <a href="javascript:;" class="vedio-box" data-url="https://v.qq.com/iframe/player.html?vid=d0184lzri8r&tiny=0">
                <img src="../img/video1.png" class="vedio-pic">
            </a>
            <a href="javascript:;" class="vedio-box" data-url="https://v.qq.com/iframe/player.html?vid=j0158aedpz1&tiny=0">
                <img src="../img/video1.png" class="vedio-pic">
            </a>
        </div>
        <div id="vedio-view" class="vedio-view">
            <div class="vedio">
                <iframe id="vedio-view-iframe" height=614 width=1200 src='' frameborder=0 allowfullscreen></iframe>
            </div>
        </div>
        <div class="more" ><a href="javascript:;">更多视频>>></a></div>
    </div>
</main>

<!-- Footer -->
<footer class="container-fluid">
    <div class="container">
        <div class="left-bar">
            <ul class="info clearfix">
                <li><a href="javascript:;">关于金美相</a></li>
                <li><a href="javascript:;">帮助中心</a></li>
                <li>联系我们：<a href="javascript:;">010-57030712</a></li>
                <li>备案号:<a href="javascript:;">京ICP备15005694号</a></li>
                <li>公司地址：北京市朝阳区朝阳北路104号楼12层1202</li>
            </ul>
            <div class="pic-link">
                <a href="javascript:;"><img src="../img/icon-sos.png"></a>
                <a href="javascript:;"><img src="../img/icon-x.png"></a>
            </div>
        </div>
        <ul class="right-bar">
            <li>
                <a id="weibo-link" href="javascript:;" class="weibo-link"></a>
                <div id="wb-code" class="wb-code" style="display: none;"></div>
            </li>
            <li>
                <a id="weixin-link" href="javascript:;" class="weixin-link"></a>
                <div id="wx-code" class="wx-code" style="display: none;"></div>
            </li>
            <li>
                <a id="btn-langulage" href="javascript:;" class="langulage">中国/中文</a>
                <ul id="list-langulage" class="langulage-list clearfix" style="display: none;">
                    <li><a href="javascript:;">马来西亚/中文</a></li>
                    <li><a href="javascript:;">中国/中文</a></li>
                </ul>
            </li>
        </ul>
    </div>
</footer>

<script src="../js/vendor/jquery.min.js"></script>
<script src="../js/header.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/vendor/swiper.js"></script>

<script>
    $(document).ready(function(){
        var JMXSwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            effect : 'fade',
            speed: 3000,
            autoplay: {
                delay: 3000,
                stopOnLastSlide: false,
                disableOnInteraction: false,
                waitForTransition: true,
            },
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            },
        });

        var $li = $('.news-box .title-list li[class!="more"]');
        var $photoBox = $('#photoBox');
        var W = parseFloat($photoBox.width());
        var H = parseFloat($photoBox.height());
        $li.map(function(){
            var img = document.createElement("img");
            img.src = $(this).attr('data-url');
            var w = parseFloat(img.width);
            var h = parseFloat(img.height);
            img.style.display = 'none';
            if(W/H > w/h){
                img.style.width = W + 'px';
            }else {
                img.style.height = H + 'px';
            }
            $photoBox.append(img);
        })
        actIdx(0);
        $('.news-box .title-list').on('mouseover','li[class!="more"]',function(e){
            actIdx($li.index($(this)));
        })
        function actIdx(idx){
            var $eq = $li.eq(idx);
            var $img = $photoBox.children('img').eq(idx);
            console.log($img[0]);
            $img.show().siblings().hide();
            $eq.addClass('active').siblings().removeClass('active');
        }


        //点击打开视频
        $('.vedio-box').on('click',function(){
            var url = $(this).attr('data-url');
            $('#vedio-view-iframe')[0].src = url;
            $('#vedio-view').show();
        });
        $('#vedio-view').on('click',function(){
            $('#vedio-view-iframe')[0].src = ''
            $(this).hide();
        });
    });
</script>
</body>
</html>
