<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>产品详情</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../css/productdetail.css">
</head>
<body>

<!-- Header -->
<header class="container-fluid">
    <nav class="clearfix">
        <div class="logo"><a href="#" class="logoImg"></a></div>
        <ul class="navbar">
            <li class="navitem active">
                <a href="javascript:;"><p class="cn">走进金美相</p><p class="en">ABOUT KIMISOI</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">美相护肤</p><p class="en">SKIN CARE</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">畅销榜单</p><p class="en">SELL LIST</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">美相地图</p><p class="en">MAPS</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">在线查询</p><p class="en">ONLINE</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">加入我们</p><p class="en">JOIN US</p></a>
            </li>
        </ul>
        <div class="searchbox">
            <div class="search-content">
                <input type="text" placeholder="雪颜静容膏">
            </div>
            <a href="javascript:;" class="search-btn">搜索</a>
        </div>
    </nav>
    <div id="sub-navbar" class="sub-navbar">
        <ul class="container">
            <li class="subitem i1">
                <a href="javascript:;">品牌故事</a>
                <a href="javascript:;">品牌印记</a>
            </li>
            <li class="subitem i2">
                <a href="javascript:;">雪颜系列</a>
                <a href="javascript:;">花仙系列</a>
                <a href="javascript:;">马卡龙系列</a>
                <a href="javascript:;">彩妆系列</a>
            </li>
            <li class="subitem i3">
            </li>
            <li class="subitem i4">
            </li>
            <li class="subitem i5">
                <a href="javascript:;">代理查询</a>
                <a href="javascript:;">正品查询</a>
            </li>
            <li class="subitem i6">
            </li>
        </ul>
    </div>
</header>

<main class="container-fluid">
    <!-- Bread crumb navigation -->
    <ul class="bread-crumb-nav container">
        <li><a href="javascript:;">首页</a></li>
        <li>/</li>
        <li><a href="javascript:;">雪颜系列</a></li>
        <li>/</li>
        <li><a href="javascript:;">雪颜净容膏</a></li>
    </ul>

    <!-- Product Detail -->
    <div class="product-detail container">

        <div class="main-detail clearfix">
            <div class="product-img"><img src="../img/雪颜净容膏.png"></div>
            <div class="detail-info">
                <div class="title">雪颜净容膏</div>
                <div class="sub">
                    <div class="sub-title">产品介绍：</div>
                    <div class="sub-info">它是一款面霜剂型的高保湿洁面乳。内含冬虫夏草、当归、人参等时尚名贵植草提取成分，乳酸菌发酵更容易吸收，泡沫细腻丰富，清洗附着在肌肤内外的污垢以及化妆后的有害残留物，使肌肤持久润泽，无紧绷感。同时让肌肤舒缓、滋养、湿润。是一款真正做到以养肤为目的的洁面乳。</div>
                </div>
                <div class="sub">
                    <div class="sub-title">主要成分：</div>
                    <div class="sub-info">人参、鹿茸、冬虫夏草</div>
                </div>
                <div class="sub">
                    <div class="sub-title">产品功效：</div>
                    <div class="sub-info">去除面部杂质、卸除淡妆、滋养保湿肌肤</div>
                </div>
                <div class="sub">
                    <div class="sub-title">产品规格：</div>
                    <div class="sub-info">180g</div>
                </div>
                <div class="sub">
                    <div class="sub-title">使用方法：</div>
                    <div class="sub-info">取适量本品于手中，用手揉搓至起泡，均匀涂抹于脸部并由下往上加以按摩，然后用清水洗净。</div>
                </div>
            </div>
        </div>

        <div class="sub-detail clearfix">
            <div class="item clearfix">
                <div class="left-side"><img src="../img/product-sub-img1.png"></div>
                <div class="right-side">人参自古以来就是美颜养肤的首选，主要成分是各种氨基酸和肽类、果胶以及维生素B1、B2、烟酸、泛酸等。它的浸出液可被皮肤缓慢吸收、能扩张皮肤毛细血管，促进皮肤血液循环，增加皮肤营养，调节皮肤的水油平衡，防止皮肤脱水、硬化、起皱，同时人参活性物质还具有抑制黑色素的还原性能，使皮肤洁白光滑。</div>
            </div>
            <div class="item">
                <div class="left-side"><img src="../img/product-sub-img2.png"></div>
                <div class="right-side">冬虫夏草对人体具有多重功效，含有大量的超氧化物歧化酶，能有效的识别并清除体内的自由基，对人体细胞来说是一种保护酶，能预防衰老，美容养颜。</div>
            </div>
        </div>
        
        <div class="suggest-collocation clearfix">
            <div class="title">建议搭配使用的产品</div>
            <ul class="list clearfix">
                <li class="item">
                    <div class="item-img"><img src="../img/花仙双效修复时光凝露.png"></div>
                    <a href="javascript:;" class="title">花仙双效修复时光凝露</a>
                </li>
                <li class="item">
                    <div class="item-img"><img src="../img/花仙美目臻颜双效面霜.png"></div>
                    <a href="javascript:;"  class="title">花仙美目臻颜双效面霜</a>
                </li>
                <li class="item">
                    <div class="item-img"><img src="../img/植草缮肌雪颜贴.png"></div>
                    <a href="javascript:;" class="title">植草缮肌雪颜贴</a>
                </li>
                <li class="item">
                    <div class="item-img"><img src="../img/雪颜养肤丽参胶.png"></div>
                    <a href="javascript:;" class="title">雪颜养肤丽参胶</a>
                </li>
            </ul>
        </div>

    </div>
</main>

<!-- Footer -->
<footer class="container-fluid">
    <div class="container">
        <div class="left-bar">
            <ul class="info clearfix">
                <li><a href="javascript:;">关于金美相</a></li>
                <li><a href="javascript:;">帮助中心</a></li>
                <li>联系我们：<a href="javascript:;">010-57030712</a></li>
                <li>备案号:<a href="javascript:;">京ICP备15005694号</a></li>
                <li>公司地址：北京市朝阳区朝阳北路104号楼12层1202</li>
            </ul>
            <div class="pic-link">
                <a href="javascript:;"><img src="../img/icon-sos.png"></a>
                <a href="javascript:;"><img src="../img/icon-x.png"></a>
            </div>
        </div>
        <ul class="right-bar">
            <li>
                <a id="weibo-link" href="javascript:;" class="weibo-link"></a>
                <div id="wb-code" class="wb-code" style="display: none;"></div>
            </li>
            <li>
                <a id="weixin-link" href="javascript:;" class="weixin-link"></a>
                <div id="wx-code" class="wx-code" style="display: none;"></div>
            </li>
            <li>
                <a id="btn-langulage" href="javascript:;" class="langulage">中国/中文</a>
                <ul id="list-langulage" class="langulage-list clearfix" style="display: none;">
                    <li><a href="javascript:;">马来西亚/中文</a></li>
                    <li><a href="javascript:;">中国/中文</a></li>
                </ul>
            </li>
        </ul>
    </div>
</footer>

<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../js/header.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>
