<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>搜索-代理</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    
    <link rel="stylesheet" href="../css/search.css">
</head>
<body>

<!-- Header -->
<header class="container-fluid">
    <nav class="clearfix">
        <div class="logo"><a href="#" class="logoImg"></a></div>
        <ul class="navbar">
            <li class="navitem active">
                <a href="javascript:;"><p class="cn">走进金美相</p><p class="en">ABOUT KIMISOI</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">美相护肤</p><p class="en">SKIN CARE</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">畅销榜单</p><p class="en">SELL LIST</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">美相地图</p><p class="en">MAPS</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">在线查询</p><p class="en">ONLINE</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">加入我们</p><p class="en">JOIN US</p></a>
            </li>
        </ul>
        <div class="searchbox">
            <div class="search-content">
                <input type="text" placeholder="雪颜静容膏">
            </div>
            <a href="javascript:;" class="search-btn">搜索</a>
        </div>
    </nav>
    <div id="sub-navbar" class="sub-navbar">
        <ul class="container">
            <li class="subitem i1">
                <a href="javascript:;">品牌故事</a>
                <a href="javascript:;">品牌印记</a>
            </li>
            <li class="subitem i2">
                <a href="javascript:;">雪颜系列</a>
                <a href="javascript:;">花仙系列</a>
                <a href="javascript:;">马卡龙系列</a>
                <a href="javascript:;">彩妆系列</a>
            </li>
            <li class="subitem i3">
            </li>
            <li class="subitem i4">
            </li>
            <li class="subitem i5">
                <a href="javascript:;">代理查询</a>
                <a href="javascript:;">正品查询</a>
            </li>
            <li class="subitem i6">
            </li>
        </ul>
    </div>
</header>

<main class="container-fluid">
    <div class="banner container"></div>
    <div class="search-btn-group container">
        <div class="searchbox">
            <div class="search-content">
                <input type="text" placeholder="请输入代理手机号或编号进行查询">
            </div>
            <a href="javascript:;" class="search-btn">查询</a>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="container-fluid">
    <div class="container">
        <div class="left-bar">
            <ul class="info clearfix">
                <li><a href="javascript:;">关于金美相</a></li>
                <li><a href="javascript:;">帮助中心</a></li>
                <li>联系我们：<a href="javascript:;">010-57030712</a></li>
                <li>备案号:<a href="javascript:;">京ICP备15005694号</a></li>
                <li>公司地址：北京市朝阳区朝阳北路104号楼12层1202</li>
            </ul>
            <div class="pic-link">
                <a href="javascript:;"><img src="../img/icon-sos.png"></a>
                <a href="javascript:;"><img src="../img/icon-x.png"></a>
            </div>
        </div>
        <ul class="right-bar">
            <li>
                <a id="weibo-link" href="javascript:;" class="weibo-link"></a>
                <div id="wb-code" class="wb-code" style="display: none;"></div>
            </li>
            <li>
                <a id="weixin-link" href="javascript:;" class="weixin-link"></a>
                <div id="wx-code" class="wx-code" style="display: none;"></div>
            </li>
            <li>
                <a id="btn-langulage" href="javascript:;" class="langulage">中国/中文</a>
                <ul id="list-langulage" class="langulage-list clearfix" style="display: none;">
                    <li><a href="javascript:;">马来西亚/中文</a></li>
                    <li><a href="javascript:;">中国/中文</a></li>
                </ul>
            </li>
        </ul>
    </div>
</footer>

<script src="../js/vendor/jquery.min.js"></script>
<script src="../js/header.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>
