<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>印记详情</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../css/thebrandfootprint.css">
</head>
<body>

<!-- Header -->
<header class="container-fluid">
    <nav class="clearfix">
        <div class="logo"><a href="#" class="logoImg"></a></div>
        <ul class="navbar">
            <li class="navitem active">
                <a href="javascript:;"><p class="cn">走进金美相</p><p class="en">ABOUT KIMISOI</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">美相护肤</p><p class="en">SKIN CARE</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">畅销榜单</p><p class="en">SELL LIST</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">美相地图</p><p class="en">MAPS</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">在线查询</p><p class="en">ONLINE</p></a>
            </li>
            <li class="navitem">
                <a href="javascript:;"><p class="cn">加入我们</p><p class="en">JOIN US</p></a>
            </li>
        </ul>
        <div class="searchbox">
            <div class="search-content">
                <input type="text" placeholder="雪颜静容膏">
            </div>
            <a href="javascript:;" class="search-btn">搜索</a>
        </div>
    </nav>
    <div id="sub-navbar" class="sub-navbar">
        <ul class="container">
            <li class="subitem i1">
                <a href="javascript:;">品牌故事</a>
                <a href="javascript:;">品牌印记</a>
            </li>
            <li class="subitem i2">
                <a href="javascript:;">雪颜系列</a>
                <a href="javascript:;">花仙系列</a>
                <a href="javascript:;">马卡龙系列</a>
                <a href="javascript:;">彩妆系列</a>
            </li>
            <li class="subitem i3">
            </li>
            <li class="subitem i4">
            </li>
            <li class="subitem i5">
                <a href="javascript:;">代理查询</a>
                <a href="javascript:;">正品查询</a>
            </li>
            <li class="subitem i6">
            </li>
        </ul>
    </div>
</header>

<main class="container-fluid">
    <!-- Bread crumb navigation -->
    <ul class="bread-crumb-nav container">
        <li><a href="javascript:;">首页</a></li>
        <li>/</li>
        <li><a href="javascript:;">走进金美相</a></li>
        <li>/</li>
        <li><a href="javascript:;">品牌印记</a></li>
    </ul>

    <!-- The Brand Footprint -->
    <div class="the-brand-footprint-detail container">
        <div class="title">KIMISOI金美相亚洲市场受捧 获亚太杰出品牌认证</div>
        <div class="content">
            <div class="img-group">
                <img src="../img/detail-img1.png">
            </div>
            <p>2016年，金美相凭借自身的产品热度及品牌优势通过了国际化程度、品牌活跃度、品牌认可度等十余项考核，成功取得亚太杰出品牌认证，获选2016-2018年度“亚太超级健康品牌”，并受邀参加《亚太杰出品牌》卓越年会颁奖典礼。</p>
            <p>亚太杰出品牌认证是授予企业、品牌、产品及领导人的第三方国际权威认证，从2002年起《亚太杰出品牌》卓越年会颁奖典礼，已经成为亚太区域最具品牌影响力的品牌盛会。获奖的成功企业、品牌与企业家，来自于马、新、中、港、台、美、日、韩、菲、柬、印尼、印度、澳洲、瑞士等多个国家和地区，Samsung（三星）、LG（现代）等超过1000个品牌及企业都是历届获奖代表企业。</p>
            <div class="img-group">
                <img src="../img/detail-img3.png"><img src="../img/detail-img2.png">
            </div>
            <p>2014年9月KIMISOI金美相主创团队远赴韩国，叩响了中韩合作的大门，将KIMISOI金美相以独特的五行原理著称，秉承着人体五行的护肤理念成为中国进口护肤品的一匹黑马，已经上市便广受好评，曾被《美丽俏佳人》《心动女人帮》等多档美妆节目以及国内多位艺人推荐。“五行护肤”因此也被推向了护肤新理念的风口浪尖。金美相尤其被敏感肌和痘痘肌的皮肤困扰着所喜爱，成为了时尚达人修复、保养肌肤的“掌中宝”。</p>
            <p>同时，KIMISOI金美相能够获此殊荣，也预示着金美相未来将面临着更加国际化、多元化等多重方面更为严格的要求，金美相的一言一行将有国际权威人士的监督，金美相的每一款产品，也要经过国际重重考核才能得以上线，对于KIMISOI金美相将会是更为严格的考验。</p>
            <div class="img-group">
                <img src="../img/detail-img4.png">
            </div>
        </div>
    </div>

    <div class="page-list container">
        <p>上一篇：<a href="javascript:;">金美相深圳颁奖优秀代理 密训福利享不停</a></p>
        <p>下一篇：<a href="javascript:;">金美相强势入驻实体店 品牌实力不容小觑</a></p>
    </div>

</main>

<!-- Footer -->
<footer class="container-fluid">
    <div class="container">
        <div class="left-bar">
            <ul class="info clearfix">
                <li><a href="javascript:;">关于金美相</a></li>
                <li><a href="javascript:;">帮助中心</a></li>
                <li>联系我们：<a href="javascript:;">010-57030712</a></li>
                <li>备案号:<a href="javascript:;">京ICP备15005694号</a></li>
                <li>公司地址：北京市朝阳区朝阳北路104号楼12层1202</li>
            </ul>
            <div class="pic-link">
                <a href="javascript:;"><img src="../img/icon-sos.png"></a>
                <a href="javascript:;"><img src="../img/icon-x.png"></a>
            </div>
        </div>
        <ul class="right-bar">
            <li>
                <a id="weibo-link" href="javascript:;" class="weibo-link"></a>
                <div id="wb-code" class="wb-code" style="display: none;"></div>
            </li>
            <li>
                <a id="weixin-link" href="javascript:;" class="weixin-link"></a>
                <div id="wx-code" class="wx-code" style="display: none;"></div>
            </li>
            <li>
                <a id="btn-langulage" href="javascript:;" class="langulage">中国/中文</a>
                <ul id="list-langulage" class="langulage-list clearfix" style="display: none;">
                    <li><a href="javascript:;">马来西亚/中文</a></li>
                    <li><a href="javascript:;">中国/中文</a></li>
                </ul>
            </li>
        </ul>
    </div>
</footer>

<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../js/header.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>
